* {
    margin:0px;
    padding:0px;
    box-sizing: border-box;
}
body {
    height: 100vh;
    display: flex;
    flex-direction: column;
}
#grid {
    height:500px;
    width:500px;
    background-color: white;
}

#options {
    /* border: 3px purple dashed; */
    width: 15em;
    display:flex;
    flex-direction: column;
justify-content: center;
align-items: center;
}
#options > * {
    margin: 10px;
}
#middle {
    /* border: 4px red solid; */
    display: flex;
    justify-content: center;
}

h1 {
    text-align: center;
    padding: 10px;
}
#footer {
    justify-self:;
    margin-top: max;
}

#grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    border:8px outset #999;
    -webkit-box-shadow: 5px 5px 15px rgba(0,0,0,0.4);
    -moz-box-shadow: 5px 5px 15px rgba(0,0,0,0.4);

}

#grid > div {
    /* border: 1px solid black; */
    text-align: center;
}

.grdHover {
    background-color: purple;
}